.App {
  text-align: center;
  background-color: rgb(233, 233, 233);
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#card {
  background-color: rgb(230, 222, 211);
  width: 500px;
  height: 300px;
  margin: 75px auto;
  border: 2px solid rgb(174, 160, 144);
  box-shadow: rgb(157, 141, 122) 3px 3px 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.drum-pad {
  box-shadow: rgb(60, 39, 12) 3px 3px 5px;
  background-color: #335955 !important;
  border: #1f3634 !important;
  color: rgb(206, 223, 219) !important;
  font-weight: bold !important;
  width: 60px;
  height: 45px;
}

.drum-pad:active {
  background-color: #98af42 !important;
  border: #96b934 !important;
  color: rgb(34, 35, 32) !important;
}

#controls {
  background-color: aquamarine;
}

#display {
  background-color: #335955;
  border: #1f3634;
  color: rgb(206, 223, 219);
  font-weight: bolder;
  border-radius: 2px;
  width: 175px;
  height: 30px;
  margin: auto;
  padding: 2px;
}

#drum-pads {
  margin-left: 15px;
  background-color: darkgoldenrod;
}
